annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
catboost==1.2.8
click==8.3.1
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
dotenv==0.9.9
# Editable install with no version control (earthquake_predictor==0.1.0)
-e e:\earthquake analysis
fastapi==0.127.0
fonttools==4.61.1
graphviz==0.21
h11==0.16.0
idna==3.11
ImageHash==4.3.2
ImageIO==2.37.3
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.4.9
lazy-loader==0.5
lightgbm==4.6.0
MarkupSafe==3.0.3
matplotlib==3.10.8
narwhals==2.14.0
networkx==3.6.1
numpy==2.4.0
opencv-python==5.0.0.93
packaging==25.0
pandas==2.3.3
pillow==12.0.0
plotly==6.5.0
pydantic==2.12.5
pydantic_core==2.41.5
pyparsing==3.3.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2025.2
PyWavelets==1.9.0
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.16.3
seaborn==0.13.2
six==1.17.0
starlette==0.50.0
threadpoolctl==3.6.0
tifffile==2026.3.3
tqdm==4.68.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uvicorn==0.40.0
xgboost==3.1.2
